// Default skin variables for color variations, typography and more.

// Embedded content
$site-background-image: "../img/bg-site.jpg";

$sprite-branding: "../img/sprite-branding.png";
$sprite-products: "../img/sprite-products.png";
$background-products-image: "../img/bg-products.png";

// Color variations
$color-base-background: #FFF;
$color-base-foreground: #555;
$color-base1: #0054A9;
$color-base2: #0072C0;
$color-base3: #39B54A;
$color-base4: #333;
$color-base5: #888;
$color-base6: #EEE;
$color-base7:#197ABC;
$color-base-error:#B52525;
$color-text1:#545454;
$color-base-var-1: #54C2D0;
$color-base-var-2: #50C592;
$color-base-var-3: #2B569F;
$color-base-var-4: #994596;
$color-base-var-5: #F5921E;
$color-base-var-6: #298C9A;
$color-base-var-7: #2C855F;
$color-base-var-8: #1A325B;
$color-base-var-9: #522551;
$color-base-var-10: #333;

$color-shadow-base: #333;
$color-shadow-heading: #FFF;

$color-heading1: $color-base1;
$color-heading2: $color-base2;
$color-heading3: $color-base4;
$color-heading4: $color-base3;
$color-heading5: $color-base2;
$color-heading6: $color-base4;

$color-hyperlink-normal: $color-base2;
$color-hyperlink-hover: $color-base1;

$color-field-normal-background: #F3F3F3;
$color-field-normal-background-1: #F2F2F2;
$color-field-normal-background-2: #E0E0E0;
$color-field-normal-border: #DDD;
$color-field-normal-text: #888;
$color-field-normal-placeholder: #BBB;
$color-field-focus-background: #FFF;
$color-field-focus-border: $color-base2;
$color-field-focus-text: $color-field-focus-border;

$color-button-normal-background: $color-base2;
$color-button-normal-text: $color-base-background;
$color-button-hover-background: $color-base3;
$color-button-hover-text: $color-base1;
$color-button-disabled-background: #DDD;
$color-button-disabled-text: $color-base5;

$color-status-default-background: #F3D573;
$color-status-default-border: #E9C95F;
$color-status-default-text: #AE8500;
$color-status-error-background: #DF6F6F;
$color-status-error-border: #DC4E4D;
$color-status-error-text: #B52525;
$color-status-success-background: #C1DA7F;
$color-status-success-border: #ACCC5D;
$color-status-success-text: #70892B;
$color-status-info-background: #79C6CD;
$color-status-info-border: #69C0CA;
$color-status-info-text: #3D8D98;

$color-header-background-top: $color-base2;
$color-header-background-bottom: $color-base1;
$color-header-border-bottom: $color-base2;

$color-footer-background-top: #FFF;
$color-footer-background-bottom: #DDD;
$color-footer-border-top: $color-footer-background-bottom;

$color-sidebar-background: #F3F3F3;
$color-sidebar-title-background: #DDD;
$color-sidebar-title-text: $color-base4;

$color-main-nav-background-top: #DDD;
$color-main-nav-background-bottom: #F3F3F3;
$color-main-nav-border-left: $color-main-nav-background-top;
$color-main-nav-border-right: $color-main-nav-background-bottom;
$color-main-nav-item-default-color: $color-base-foreground;
$color-main-nav-item-hover-background: $color-base2;
$color-main-nav-item-hover-color: $color-base-background;
$color-main-nav-item-focus-border: $color-base2;

$color-vivid-item1: #8ECE64;
$color-vivid-item2: #2DBAE7;
$color-vivid-item3: #AA78C2;
$color-vivid-item4: #FFC753;
$color-vivid-item5: #EB695A;

$color-selection-background: $color-base2;
$color-selection-foreground: $color-base-background;

// Typography
$font-name-custom: "sourcesanspro-regular";
$font-name-glyphs: "novoglyphs";

$basename-font-custom: "sourcesanspro-regular-webfont";
$basename-font-glyphs: "novoglyphs-webfont";

$font-stack-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-code: Consolas, monaco, monospace, serif;
$font-stack-custom: $font-name-custom, $font-stack-base;
$font-stack-glyphs: $font-name-glyphs;

$font-size-base: 12px;
$font-size-heading1: 32px;
$font-size-heading2: 18px;
$font-size-heading3: 15px;
$font-size-heading4: 14px;
$font-size-heading5: 13px;
$font-size-heading6: $font-size-heading5;
$font-style-italic:italic; 


$line-height-base: 17px;
$line-height-heading1: 50px;
$line-height-heading2: 40px;
$line-height-heading3: 20px;
$line-height-heading4: $line-height-heading3;
$line-height-heading5: 18px;
$line-height-heading6: $line-height-heading5;