button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
    visibility: hidden;
}

#send-info.buttons-action  {
    margin-right: 15px;
}
#msg-system{
    text-align: center;
}
