.novo-campo {
  width: 235px;
  margin-left: 0px;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-top: 0px;
  height: 43px;
}

select#status {
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  width: 140px;
}

input#capacity {
    width: 45px;
}

button#cancel {
  margin: 0 auto;
}
