// Provide styling for base structure.

@import "compass", "functions", "mixins", "normalize"; 

// Typography
@include font-face($font-name-custom, font-files("#{$basename-font-custom}.woff", "#{$basename-font-custom}.ttf", "#{$basename-font-custom}.svg"), "#{$basename-font-custom}.eot", normal, normal);

@include font-face($font-name-glyphs, font-files("#{$basename-font-glyphs}.woff", "#{$basename-font-glyphs}.ttf", "#{$basename-font-glyphs}.svg"), "#{$basename-font-glyphs}.eot", normal, normal);

// Global elements styling
::selection {
	@include selection;
}

::-moz-selection {
	@include selection;
}

::-webkit-selection {
	@include selection;
}

body {
	background: $color-base-background image-url($site-background-image) fixed repeat-x 0 0;
	color: $color-base-foreground;
	direction: ltr;
	font-family: $font-stack-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack-custom;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	margin: 0;
	padding: 0;
	@include text-shadow(1px 1px 0 $color-shadow-heading);
}

h1 {
	color: $color-heading1;
	font-size: $font-size-heading1;
	line-height: $line-height-heading1;
	margin: 0 0 10px;
}

h2 {
	color: $color-heading2;
	font-size: $font-size-heading2;
	line-height: $line-height-heading2;
	margin: 0 0 10px;
}

h3 {
	color: $color-heading3;
	font-size: $font-size-heading3;
	line-height: $line-height-heading3;
}

h4 {
	color: $color-heading4;
	font-size: $font-size-heading4;
	line-height: $line-height-heading4;
}

h5 {
	color: $color-heading5;
	font-size: $font-size-heading5;
	line-height: $line-height-heading5;
}

h6 {
	color: $color-heading6;
	font-size: $font-size-heading6;
	line-height: $line-height-heading6;
}

a {
	color: $color-hyperlink-normal;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		color: $color-hyperlink-hover;
	}
}

p {
	margin: 2px 0 10px;
	text-align: left; 
}

code,
kbd,
pre,
samp {
	font-family: $font-stack-code;
}

nav {
	& ul.menu {
		margin: 0;
		overflow: hidden;
		padding: 0;

		& li.menu-item {
			float: left;
			list-style: none;
			margin: 0;
			padding: 0;

			& a {
				display: block;
				font-weight: normal;
			}
		}
	}
}

span.icon:before {
	content: attr(data-icon);
	font-family: $font-stack-glyphs;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	speak: none;
}

.separator {
	border-bottom: 1px solid #FFF;
	clear: both;
	height: 1px;
	background: #DDD;
	overflow: hidden;
}

@import "forms";

// Document header styling
#head {
	background:$color-header-background-top;
	@include background-image(linear-gradient($color-header-background-top, $color-header-background-bottom));
	border-bottom: 5px solid $color-header-border-bottom;
	@include box-shadow(rgba($color-shadow-base, 0.5) 0 1px 2px);
	height: 60px;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index:999;
}

#head-wrapper,
#wrapper,
#foot-wrapper {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#head-wrapper {
	background: transparent image-url($sprite-branding) scroll no-repeat 130px -35px;
	height: 60px;
}

a#branding {
	background: transparent image-url($sprite-branding) scroll no-repeat 0 0;
	display: block;
	float: left;
	height: 35px;
	margin: 15px 10px 10px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 181px;
	cursor:default;
}

// Document content area styling
#wrapper {
	clear: both;
	padding: 105px 0 110px;

	.no-main-nav & {
		padding-top: 65px;
	}
}

#content,
#sidebar {
	padding: 20px 10px;
}

#content {
	float: left;
	width: 700px;

	.full-width & {
		float: none;
		width: 100%;
	}
}

.breadcrumb{
	width:auto;
	padding:0;
}
ol.breadcrumb li{
	display:inline;
	padding:0 /*5px*/;
	& a{
		color:$color-field-normal-text;
		/*font-weight: normal;*/
	}
}

// Document sidebar styling
#sidebar {
	float: right;
	width: 220px;
}
#sidebar-cambioclave {
	float: left;
	width: 220px;
}

@import "widgets";

// Document footer styling
#foot {
	clear: both;
	height: 110px;
	margin-top: 10px;
	overflow: hidden;
}

#ownership {
	float: right;
	padding: 0 10px;
	width: 220px;

	& p {
		color: darken($color-footer-background-top, 25%);
		font-family: $font-stack-custom;
		line-height: 50px;
		margin: 0;
		text-align: right;
		@include single-text-shadow(1px, 1px, 0, false, $color-shadow-heading);

		& a {
			background: transparent image-url($sprite-branding) scroll no-repeat 0 -145px;
			display: block;
			float: right;
			height: 25px;
			margin: 12px 0 13px 5px;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			width: 88px;
		}
	}
}

#credits {
	float: left;
	height: 50px;
	overflow: hidden;
	padding: 0 10px;
	width: 700px;

	& p {
		font-size: $font-size-base - 2;
		line-height: 50px;
		margin: 0;
	}
}

@import "menu", "login", "dashboard";
button.red{
	background:$color-status-error-background;
	@include background-image(linear-gradient($color-status-error-background, darken($color-status-error-background, 15%)));
	border: 0;
	@include border-radius(3px);
	@include box-shadow(rgba($color-shadow-base, 0.35) 0 1px 2px);
	color: $color-button-normal-text;
	float: right;
	line-height: 35px;
	padding: 0 10px;
	@include text-shadow(1px 1px 0 false darken($color-button-normal-background, 15%));
	&:hover{
		background:#DA5A5A;
		@include background-image(linear-gradient($color-status-error-background, darken($color-status-error-background, 5%)));
	}
}
button.green{
	background:#39b54a;
	@include background-image(linear-gradient(#39b54a, darken(#39b54a, 15%)));
	border: 0;
	@include border-radius(3px);
	@include box-shadow(rgba($color-shadow-base, 0.35) 0 1px 2px);
	color: $color-button-normal-text;
	float: right;
	line-height: 35px;
	padding: 0 10px;
	@include text-shadow(1px 1px 0 false darken($color-button-normal-background, 15%));
	&:hover{
		background:#39b54a;
		@include background-image(linear-gradient(#39b54a, darken(#39b54a, 5%)));
	}

}
@import "config", "account", "vintage";