#campos-config {
  width: 700px;
  height: auto;
  float: left;
  background: none;
}

#campos-config-descarga {
  width: 500px;
  height: auto;
  float: left;
  background: none;
  /*@include box-shadow(rgba($color-shadow-base, 0.5) 0 1px 1px);
  @include border-radius(5px);
  background:#fff;*/
  padding: 10px;
}

#campos-config-2 {
  width: 510px;
  height: auto;
  float: left;
  /*background:$color-field-normal-background-2;*/
  margin-bottom: 10px;
}

#campos-descarga {
  width: auto;
  height: auto;
  float: left;
  background: none;
  padding: 5px;
}
#campos-descarga span {
  width: auto;
  float: right;
  font-size: 20px;
}
#campos-descarga span p {
  float: left;
  padding: 5px;
  vertical-align: middle;
}

#campos-1 {
  border: solid 1px #d5d5d5;
  background: none;
  font-size: 12px;
  color: #555555;
  width: 500px;
  height: auto;
  margin: 5px;
  float: left;
}
#campos-1 select {
  width: 200px;
  /*border: none;*/
  float: left;
  clear: both;
}
#campos-1 span {
  border-left: 3px solid #0072c0;
  width: 245px;
  float: left;
}
#campos-1 span p {
  float: left;
  padding: 5px;
  vertical-align: middle;
  font-size: 13px;
}
#campos-1 span input {
  float: left;
  padding: 5px;
  background: none;
  border: none;
  border-bottom: 1px solid #bbb;
}

#suc_cuidad {
  width: 130px;
  border: none;
}

#campos-dir {
  border: solid 1px #d5d5d5;
  background: none;
  font-size: 12px;
  color: #555555;
  width: 500px;
  height: auto;
  margin: 5px;
  float: left;
}
#campos-dir span {
  border-left: 3px solid #0072c0;
  width: 500px;
  float: left;
}
#campos-dir span p {
  float: left;
  padding: 5px;
  vertical-align: middle;
  font-size: 13px;
}
#campos-dir span input {
  border: none;
  border-bottom: 1px solid #bbbbbb;
  width: 390px;
}

#first {
  color: #0072c0 !important;
  font-size: 15px;
}

.lapiz-mod {
  float: left !important;
  width: 17px !important;
  border: none !important;
  line-height: 3;
}

#user-name {
  font-size: 15px;
  color: #0072c0;
  font-weight: bold;
}

#datos-1 {
  border: none;
  background: none;
  float: left;
  width: 500px;
  height: 35px;
  margin: 5px;
}

#opciones-btn {
  float: left;
  width: 512px;
  height: 50px;
}
#opciones-btn button {
  float: right;
  margin: 5px;
}

.select-empresa {
  float: left;
  width: 500px;
  margin-left: 5px;
  background: none;
  border: 1px solid #D5D5D5;
  color: #0072c0;
}

.config-empresas {
  background: none;
  color: #888888;
}

.content-user {
  float: left;
  color: #0072c0;
  font-size: 20px;
  width: 600px;
}
.content-user span {
  float: left;
  margin-right: 5px;
}
.content-user p {
  float: left;
  font-weight: bold;
}

#ui-tabs-3 #wrapper {
  padding: 0 !important;
}

#email_user {
  width: 210px;
}

