// Provide styling for basic forms.

form {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

fieldset {
	border: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

input,
select,
textarea {
	border: 1px solid $color-field-normal-border;
	@include border-radius(3px);
	@include box-shadow(rgba($color-shadow-base, 0.2) 0 2px 2px false inset);
	margin: 0 0 5px;
	padding: 10px;
}

button {
	background:$color-button-normal-background;
	@include background-image(linear-gradient($color-button-normal-background, darken($color-button-normal-background, 15%)));
	border: 0;
	@include border-radius(3px);
	@include box-shadow(rgba($color-shadow-base, 0.35) 0 1px 2px);
	color: $color-button-normal-text;
	float: right;
	line-height: 35px;
	padding: 0 10px;
	@include text-shadow(1px 1px 0 false darken($color-button-normal-background, 15%));
	margin-left: 10px;
}
button:hover{
	background:$color-base1;
	@include background-image(linear-gradient($color-button-normal-background, lighten(#0072C0, 5%)));
}
.file-field{
	background:$color-button-normal-background;
	@include background-image(linear-gradient($color-button-normal-background, darken($color-button-normal-background, 15%)));
	border: 0;
	@include border-radius(3px);
	@include box-shadow(rgba($color-shadow-base, 0.35) 0 1px 2px);
	color: $color-button-normal-text;
	float: right;
	line-height: 35px;
	padding: 0 10px;
	@include text-shadow(1px 1px 0 false darken($color-button-normal-background, 15%));
}
.file-field:hover{
	background:$color-base1;
	@include background-image(linear-gradient($color-button-normal-background, lighten(#0072C0, 5%)));
}

#sliderbutton-login{
	background:$color-field-normal-border;
	/*@include background-image(linear-gradient($color-button-normal-background, darken($color-button-normal-background, 15%)));*/
	border: 0;
	@include border-radius(3px);
	@include box-shadow(rgba($color-shadow-base, 0.35) 0 1px 2px);
	color: $color-button-normal-text;
	float: right;
	line-height: 35px;
	/*padding: 0 10px;*/
	width:100%;
	@include text-shadow(1px 1px 0 false darken($color-button-normal-background, 15%));

}